body {
	font-family: 'Open Sans', "Helvetica Neue",Helvetica;
	font-weight: 300;
	font-size: 1em;
	text-rendering:optimizeLegibility;
}

a {
	text-decoration: none;
	font-color:black;
}

h1 {
	font-size:1.5em;
}

/* Navigation bar */
#menu {
	width: -webkit-calc(100% + 16px);
	background-color: rgba(255,255,255,.5);
	top:5px;
	margin-right: -20px;
	margin-left: -8px;
	position:fixed;
	z-index: 10;
	padding-top:0;
	top: -5px;

	font-size: 14px;
}

ul {
	margin:0;
}

li {
	list-style-type: none;	
}

.nav {
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 11px;
	padding-right: 11px;
	float:left;
	list-style-type: none;
	display:inline-block;
	position: relative;
	color:black;
	z-index:10;	
}

.nav:hover {
	background-color: rgba(255,255,255,.7);
}

/* Home page*/
.home-blocks {
	width: -webkit-calc(100% + 16px);
	margin-left: -8px;
	height:500px;
	position:relative;
	float:center;
}

.center-text {
	text-align: center;
}

#main {
	/*background-image: url('main-background.jpg');*/
	background-color: #437DD4;
	height:533px;
	margin-top: -8px;
	color: white;
}

#main-right {
	margin-left:25%;
	position:relative;
	width: 75%;

	height:100px;
	padding-top:150px;
	padding-bottom:208px;

	text-align: center;
}

#main-logo {
	text-align: center;
	width: 240px;
	margin-left:-webkit-calc(50% - 120px);
}

#about {
	
}

#sch {
	background-color: green;
}

#judges {
	background-color: black;
}

#rules {
	background-color: purple;
}

#directions-logo {
	text-align: center;
	width: 210px;
	margin-left:-webkit-calc(50% - 105px);
}

#directions-map {
	margin-left:-webkit-calc(12.5% + 75px);
}

#housing {

}

/* Footer tags*/
#footer-table {
	width:100%;
}

#footer-table-logo {
	padding-left: -webkit-calc(50% - 50px);
	width: 100px;
}

.footer-table-td {
	width:33%;
	background-color: grey;
	float:center;
	height: 100px;
}

/* Common fields to registration and login*/
#user-box {
	width: 500px;
	min-height: 720px;
	margin: 0px auto 0px auto;
	padding-top:50px;
	text-align: center;
	position: relative;
	background-color: black;
}

#user-box-in {
	background: rgba(255, 255, 255, .75);
	border: 0 none;

	position:relative;
	padding: 20px 20px;
	box-sizing: border-box;
	width: 80%;
	max-width: 80%;
	margin: 0 10%;

	padding-top:20px;
	padding-bottom:20px;

	text-align: center;
}

/* Selecting login or registration */
#reg-sign {
	width:100%;
}

.reg-sign-selector {
	width:50%;
	margin:0;
	background-color: purple;

	padding-top: 10px;
	padding-bottom: 10px;
}

.reg-sign-selector:hover {
	background-color: rgba(255,255,255,.7);
}


/* Form styling */
input {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	border: 0 none;
	margin-top: 10px;
}

#submit {
	background-color: #FF6200;
	color:white;
	width:150px;
	border-radius: 2px;
	margin-left:-webkit-calc(50% - 75px);

	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

#submit:hover {
	background-color: rgba(255,255,255,.7);
	color: #437DD4;
}

span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 5;
}   
/* http://colorschemedesigner.com/csd-3.5/#0n31Ow0w0w0w0*/