body {
	font-family: 'Open Sans', "Helvetica Neue",Helvetica;
	font-weight: 300;
	font-size: 1em;
	text-rendering:optimizeLegibility;
}

a {
	text-decoration: none;
	font-color:black;
}

h1 {
	font-size:1.5em;
}

/*#circle {
    width: 70px;
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 40px; 
    background-color: black;

    display: inline-block;
}*/

/* Navigation bar */
#menu {
	width: -webkit-calc(100% + 16px);
	background-color: rgba(255,255,255,.8);
	top:5px;
	margin-right: -20px;
	margin-left: -8px;
	position:fixed;
	z-index: 10;
	padding-top:0;
	top: -5px;

	font-size: 14px;
}

ul {
	margin:0;
}

li {
	list-style-type: none;	
}

.nav {
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 11px;
	padding-right: 11px;
	float:left;
	list-style-type: none;
	display:inline-block;
	position: relative;
	color:black;
	z-index:10;	
}

.nav:hover {
	background-color: rgba(255,255,255,.7);
}

/* Home page*/
.home-blocks {
	width: -webkit-calc(100% + 16px);
	margin-left: -8px;
	position:relative;
	float:center;

	padding-bottom: 15px;
	padding-top: 15px;
}

.center-text {
	text-align: center;
}

#main {
	height:533px;
	margin-top: -8px;
	color: white;

	left: 0;
	right: 0;
}

#main-background {
	position: fixed;
	left: 0;
	right: 0;
	height: 533px;
	margin-top: -8px;
	z-index: -1;

	display: block;
	background-color: black;
	background-image: url('tango-3.jpg');
	background-repeat: no-repeat;

	-webkit-filter: blur(3px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#main-right {
	margin-left:25%;
	position:relative;
	width: 75%;

	height:100px;
	padding-top:150px;
	padding-bottom:208px;

	text-align: center;
}

#main-logo {
	text-align: center;
	width: 240px;
	margin-left:-webkit-calc(50% - 120px);
}

#sch {
	background-color: white;
}

#sch table{
	width: 350px;
	margin-left: -webkit-calc(50% - 175px);

	background-color: rgba(67,125,212,.2);
	border-radius: 5px
}

#rules {
	width: -webkit-calc(100% + 16px);
	margin-left: -8px;
	position:relative;
	float:center;

	background-color: #437DD4;
	color: white;
	
	margin-top: 0px;
	padding-top: 20px;
}

#rules-pricing {
    border: none;
    width: 50%;
    margin-left: 25%;
    font-size: 100%;
    text-align: right;
}

#directions {
	background-color: white;
	padding-bottom: 15px;
}

#directions-logo {
	text-align: center;
	width: 210px;
	margin-left:-webkit-calc(50% - 105px);
}

#directions-map {
	width: -webkit-calc(50% + 32px);
	margin-left:25%;
}

#housing {
	background-color: #437DD4;
	color: white;
}

#housing-left {
	width: 50%;
	vertical-align: top;
	padding-left: 10%;
	padding-right: 10%;
}

#housing-right table {
	padding-left: 20%;
}

#housing-pic {
	text-align: center;
	
	vertical-align: middle;
	padding-bottom: 70px;
}

#housing-pic-over {
	visibility: hidden;
	background-color: white;
	opacity: .7;
	text-align: center;
	color: black;
	border-radius: 15px;

	vertical-align: middle;
	margin-top: -90px;
}

#housing-pic:hover #housing-pic-over {
	visibility: visible;
}

/* Footer tags*/

#footer {
	background-color: #437DD4;
}
#footer-table {
	width:100%;
	background-color: #437DD4;
}

#footer-table-logo {
	padding-left: -webkit-calc(50% - 50px);
	width: 100px;
}

#footer-table-left {
	width:-webkit-calc(33% + 8px);
	float:center;
	height: 100px;
	margin-left: -8px;

	color:white;
}

#footer-table-center {
	width:33%;
	float:center;
	height: 100px;

	text-align: center;
	color:white;
}

#footer-table-right {
	text-align: right;
	width:50%;
	margin-left: 50%;

	color: white;
}

#footer-table a {
	text-decoration: none;
	color: white;
}

/* Common fields to registration and login*/
#user-box {
	width: 500px;
	min-height: 720px;
	margin: 0px auto 0px auto;
	padding-top:50px;
	text-align: center;
	position: relative;
	background-color: black;
}

#user-box-in {
	background: rgba(255, 255, 255, .75);
	border: 0 none;

	position:relative;
	padding: 20px 20px;
	box-sizing: border-box;
	width: 80%;
	max-width: 80%;
	margin: 0 10%;

	padding-top:20px;
	padding-bottom:20px;

	text-align: center;
}

/* Selecting login or registration */
#reg-sign {
	width:100%;
}

.reg-sign-selector {
	width:50%;
	margin:0;
	background-color: purple;

	padding-top: 10px;
	padding-bottom: 10px;
}

.reg-sign-selector:hover {
	background-color: rgba(255,255,255,.7);
}


/* Form styling */
/*input {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	border: 0 none;
	margin-top: 10px;
}*/

#form-contact-box {
	padding-top: 25px;
	padding-left: 150px;
	padding-right: 150px;
}

input, textarea {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	border: 0 none;
	margin-top: 10px;

	background-color: rgba(255,255,255,.75);
}

#submit, input submit {
	background-color: #FF6200;
	color:white;
	width:150px;
	border-radius: 2px;
	margin-left:-webkit-calc(50% - 75px);

	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

#submit:hover, input submit:hover {
	background-color: rgba(255,255,255,.7);
	color: #437DD4;
}

span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 5;
}   
/* http://colorschemedesigner.com/csd-3.5/#0n31Ow0w0w0w0*/

/* Rules */
ul#tabs {
        list-style-type: none;
        margin-left: -webkit-calc(50% - 355px);
		margin-bottom: 15px;
      }
      ul#tabs li {
        display: inline;
      }
      ul#tabs li a {
        font-size: 110%;
        color: white;
        background-color: #263e6e;

    	/* to make it circular*/
    	width:135px;
	    padding: 10px 10px 10px 10px;
	    border-radius: 100px; 
	    display: inline-block;

        text-decoration: none;
        text-align: center;
      }
      ul#tabs li a:hover {
        background-color: #437DD4;
        color: white;
      }
      ul#tabs li a.selected {
        color: white;
        background-color: #437DD4;
        /*padding: 0.3em 1em 0.38em 1em;*/
      }
      ul#tabs tr {
      	margin-top: 50px;
      }
      div.tabContent {
      	width: 50%;
        color: grey;
        background-color: white;

        border-radius: 5px;
        padding: 1em;
        margin-left: 25%;
      }
      div.tabContent.hide {
        display: none;
      }
      div.tabContent li {
      	margin-bottom: 10px;
      }
      h2 {
        font-weight: normal;
        line-height: 30%;
        font-size: 121%;
        margin: 0.5em 0;
      }